.grid-container {
  display: grid;
  height: 100vh;
  grid-template-columns: 200px 1fr 150px;
  grid-template-rows: 70px 1fr 60px;
  gap: 5px;
  background-color: #00ffff;
  grid-template-areas:
    "left top top"
    "left center right"
    "left bottom right";
}

.left {
  grid-area: left;
  background-color: green;
}

.top {
  grid-area: top;
  background-color: green;
}

.right {
  grid-area: right;
  background-color: green;
}

.center {
  grid-area: center;
  background-color: green;
}

.bottom {
  grid-area: bottom;
  background-color: green;
}

.Navigation {
  font-size: 16px;
  padding: 10px;
}

.Shapka {
  font-size: 16px;
  padding: 10px;
}

.Statia {
  font-size: 16px;
  padding: 7px;
}

.Podval {
  font-size: 16px;
  margin-left: 10px;
}

.Pravo {
  font-size: 16px;
  margin-left: 10px;
}