* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body {
    background: #17175e;
    min-height: 100vh;
    padding: 20px;
}

.win-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, 100px);
    grid-auto-rows: 100px;
    gap: 10px;
    grid-auto-flow: row dense;
    justify-content: center;
}
.basicBig1 {
    grid-column: span 2;
    grid-row: span 2;
    background-color: blue;
}

.basicBig2 {
    grid-column: span 3;
    grid-row: span 2;
    background-color: blueviolet;
}

.basicBig3 {
    grid-column: span 3;
    grid-row: span 3;
    background-color: royalblue;
}

.basic1, .basic2, .basic3, .basic4,
.basic6, .basic7, .basic10, .basic11,
.basic14, .basic15, .basic17, .basic18,
.basic19, .basic20 {
    grid-column: span ;
    grid-row: span ;
}
.basic5, .basic8, .basic12 {
    grid-column: span 2;
    grid-row: span ;
}
.basic13 {
    grid-column: span 2;
    grid-row: span ;
}
.basic16 {
    grid-column: span 3;
    grid-row: span ;
}
.basicAva {
    grid-column: span ;
    grid-row: span ;
    background-color: gray;
}

.basicText {
    grid-column: span 2;
    grid-row: span ;
}

.basicText2 {
    grid-column: span ;
    grid-row: span ;
}
.basic1, .basic2, .basic3, .basic4, .basic13 { background-color: red; }
.basic5, .basic8, .basic9, .basic12 { background-color: aqua; }
.basic6, .basic7, .basic10, .basic11 { background-color: orange; }
.basic14, .basic15, .basic16 { background-color: brown; }
.basic17, .basic18 { background-color: rgb(13, 167, 36); }
.basic19, .basic20 { background-color: gray; }
.text {
    font-size: 50px;
    color: white;
}

.img {
    width: 100px;
    height: 100px;
    display: block;
}
