.body {
   background: linear-gradient(90deg,rgba(23, 23, 94, 1) 0%, rgba(26, 26, 79, 1) 35%, rgba(78, 33, 156, 1) 100%);
   background: #17175e;
   width: 1700px;
}

.win-container {
   display: grid;
   height: 100vh;
   grid-template-columns: repeat(15 , 100px) ;
   grid-template-rows: repeat(7 , 100px);
   gap: 10px;
   grid-auto-flow: row dense;
}

.basicBig1 {
  grid-column: 2 / 4;
  grid-row: 5 / 7 ;
  background-color: blue;
}

.basic1 {
  grid-column: 2 ;
  grid-row: 3 ;
  background-color: red ;
}
.basic2 {
  grid-column: 2 ;
  grid-row: 4 ;
  background-color: red ;
}
.basic3 {
  grid-column: 3 ;
  grid-row: 4 ;
  background-color: red ;
}
.basic4 {
  grid-column: 3 ;
  grid-row: 3 ;
  background-color: red ;
}

.basic5 {
  grid-area: 3 / 5 / 4 / 7;
  background-color: aqua ;
}

.basicBig2 {
  grid-area: 4 / 5 / 6 / 8 ;
  background-color: blueviolet;
}

.basic6 {
  grid-column: 5;
  grid-row: 6;
  background-color: orange;
}


.basic7 {
  grid-column: 6;
  grid-row: 6;
  background-color: orange ;
}

.basic8 {
  grid-area: 6 / 7 / 7 / 9;
  background-color: aqua ;
}

.basic9 {
  grid-area: 4 / 8 / 6 ;
  background-color: aqua ;
}

.basic10 {
  grid-column: 7  ;
  grid-row: 3;
  background-color: orange ;
}

.basic11 {
  grid-column: 8  ;
  grid-row: 3;
  background-color: orange ;
}
.basic12 {
  grid-column: 10 / 12  ;
  grid-row: 3;
  background-color: aqua ;
}

.basic13 {
  grid-column: 10 /12  ;
  grid-row: 4;
  background-color: red ;
}

.basic14 {
    grid-column: 10;
    grid-row: 5;

    background-color: brown;
}

.basic15 {
    grid-column: 11;
    grid-row: 5;

    background-color: brown;
}

.basic16 {
    grid-column: 10 / 13;
    grid-row: 6 ;

    background-color: brown;
}
 

.basicBig3 {
    grid-column: 12 / 15;
    grid-row: 3 / 6;
    background-color: royalblue;
}

.basic17 {
    grid-column: 13;
    grid-row: 6 ;

    background-color: rgb(13, 167, 36);
}

.basic18 {
    grid-column: 14;
    grid-row: 6 ;

    background-color: rgb(13, 167, 36);
}

.basicText {
    grid-column: 1 / 3;
    grid-row: 1;
}

.basicText2 {
    grid-column: 15;
    grid-row: 1;
    
}


.text {
    padding-left: 80px;
    font-size: 50px;
    

}
.text2 {
     padding-right: 80px;
     padding-top: 25px;
    font-size: 40px;
}

.img {
    padding-top: 50px;
}

